h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    max-width: 30%;
}

@keyframes title {
    0% {
        transform: scale(1);
        text-shadow: 0 0 10px rgba(235, 113, 170, 0.8);
    }
    100% {
        transform: scale(1.01);
        text-shadow: 0 0 20px rgb(198, 115, 172);
    }
}

#logo {
    height: 100%;
    aspect-ratio: 1;
    max-width: 20%;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #fce9e8 60%, #f2afaf , #f39191);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    border-radius: 10px;
    border: 5px double #fff;
    position: sticky;
    z-index: 2;
    animation: title 3s infinite alternate;
}

nav {
    width: 50%;
    max-width: 40%;
    height: 50px;
  }
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
  
nav > ul > li {
    color: #373747;
    margin: 0 0.15rem;
    padding: 0.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 750;
    font-style: italic;
    list-style: none;
    border-radius: 8px;
}
  
nav > ul > li:hover {
    background: none;
    color: #555575;
    cursor: pointer;
    transform: scale(1.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
  
li > a {
    color: inherit;
    text-decoration: none;
}

fieldset {
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    border-width: 8px;
    border-radius: 23px;
    border-style: dotted;
    border-color: rgb(235, 159, 211);
}

section {
    width: 100%;
    margin: 0 auto 10px auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2.title {
    letter-spacing: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

p.a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 18px;
}

p {
    letter-spacing: 2px;
    line-height: 30px;
    width: 65%;
    margin: 20px auto;
}

p:not(.a) {
    color: rgb(134, 181, 215);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px double #dfdfe2;
    padding-top: 60px;
    font-size: 35px;
    font-weight: 700;
}

main {
    background-image: url(images/image.png);
    background-position: center;
}

.box {
    overflow: auto;
}

img:not(#logo) {
    float: left;
    aspect-ratio: 3/4;
    max-width: 50%;
    margin: 20px 20px 0px 40px;
    border-radius: 10px;
    border-style: double;
    border-color: rgb(227, 158, 218);
    border-width: 6px;
    position: relative;
    z-index: 1;
    opacity: 90%;
}

img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

button {
    display: block;
    margin: 40px auto;
    width: 50%;
    max-width: 500px;
    padding: 15px;
    font-size: 1.438rem;
    background: #d4d4d1;
    border: 3px solid #3b3b4f;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #fff;
}

body {
    position: relative;
}

#fireworksCanvas {
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 100;
  }

@media (max-width:991px) {
    h1 {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
    p:not(.a) {
        font-size: 30px;
    }
}
