h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    max-width: 30%;
}

#logo {
    height: 100%;
    aspect-ratio: 1;
    max-width: 20%;
}

header {
    width: 100%;
    height: 100px;
    background-color: #f1f1f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav {
    width: 50%;
    max-width: 40%;
    height: 50px;
  }
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
  
nav > ul > li {
    color: #373747;
    margin: 0 0.15rem;
    padding: 0.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 750;
    font-style: italic;
}
  
nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}
  
li > a {
    color: inherit;
    text-decoration: none;
}

fieldset {
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    border-width: 8px;
    border-radius: 23px;
    border-style: dotted;
    border-color: rgb(235, 159, 211);
}

section {
    width: 100%;
    margin: 0 auto 10px auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2.title {
    letter-spacing: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

p.a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 18px;
}

p {
    letter-spacing: 2px;
    line-height: 30px;
    width: 65%;
    margin: 20px auto;
}

p:not(.a) {
    color: rgb(134, 181, 215);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px double #dfdfe2;
    padding-top: 60px;
    font-size: 35px;
    font-weight: 700;
}

main {
    background-image: url(images/image.png);
    background-position: center;
}

img:not(#logo) {
    float: left;
    aspect-ratio: 3/4;
    max-width: 50%;
    margin: 20px 20px 0px 40px;
    border-radius: 10px;
    border-style: dotted;
    border-color: rgb(227, 158, 218);
    border-width: 6px;
}

button {
    display: block;
    margin: 40px auto;
    width: 50%;
    max-width: 500px;
    padding: 15px;
    font-size: 1.438rem;
    background: #d2dbc4;
    border: 3px solid #3b3b4f;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #fff;
}

@media (max-width:991px) {
    h1 {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
    p:not(.a) {
        font-size: 30px;
    }
}
